# Dataset files
Lucas_Chips_Geo_Italy/
*.tar.gz
dataset download/
# Old training analisys
Training_Analysis.ipynb

# Training outputs
output/
lightning_logs/

# Split files
train_split.txt
val_split.txt

# Checkpoints
checkpoints/
*.ckpt

# Python cache
__pycache__/
*.pyc
.ipynb_checkpoints/

# Mac files
.DS_Store
._*

# Virtual Environments
venv/
.venv/
env/

# docs
docs/LUCAS_PK.pdf
docs/PiA-AI4E-GeoFM-Project.pdf

